$break: 1024px;
$width: 30rem;

$-font-size: 1.2rem;
$-padding: .8rem;
$-z-index: 300;

nav.toc {
    position: fixed;
    z-index: $-z-index;
    top: 0;
    right: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    width: 0;
    min-height: 100%;
    margin: 0;
    padding: 0;
    transition: left .5s ease;
    color: inherit;

    @media (min-width: $break) {
        width: $width;
    };
}

nav.active {
    width: 100%;
}

.toc ul {
    min-width: 100%;
    padding-left: 0;
    list-style: none;

    a {
        font-size: $-font-size;
        display: inline-block;
        max-width: 90%;
        padding-top: .5rem;
        padding-right: .5rem;
        padding-bottom: .5rem;
        transition: all .1s ease;
        text-align: left;
        text-decoration: none;
        flex-grow: 1;

        &:hover {
            transition: all .2s ease;
        }

    }

    li {
        display: flex;
        min-width: 100%;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}


@for $i from 0 through 4 {
    .sub-toc-#{$i} a {
        padding-left: ($i+1) * $-padding;
    }
}

@for $i from 1 through 4 {
    ul.sub-toc-#{$i} {
        display: none;
    }
}

svg.expand-toc {
    min-width: 10%;
    padding: 0;
    cursor: pointer;
    text-align: center;
}

svg.close-toc {
    min-width: 1.3rem;
    min-height: 1.3rem;
    margin: 0.5rem auto 0.5rem 0.8rem;
    cursor: pointer;
    text-align: center;
    display: none;
}


nav.active svg.close-toc {
    display: inline-block;
}

ul.active {
    display: block;
}
