$line-height: 1.4rem;

div.content {
    line-height: $line-height;
}

div.content > p {
    margin: (1.5 * $line-height) 0;
}

li > p {
    margin: (0.2 * $line-height) 0;
}

.icon {
    display: inline-block;
    user-select: none;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 1rem 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0.8rem 0;
}

p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.title-page {
    text-align: center
}

.title-page h1 {
    font-weight: normal
}

.title-page h2 {
    font-weight: normal
}
