.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage*
.cache
nosetests.xml
coverage.xml
unittests/helpers/compare_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
*.project
*.pydevproject

# pyenv version file
.python-version

# Doc build files
Doc/modplastex.idx
Doc/plastex.aux
Doc/plastex.idx
Doc/plastex.ilg
Doc/plastex.ind
Doc/plastex.out
Doc/plastex.paux
Doc/plastex.pdf
Doc/plastex.toc
Doc/plastex/
Doc/plastex6.syn
Doc/plastex.fdb_latexmk

Doc/getting_started/getting_started.aux
Doc/getting_started/getting_started.out
Doc/getting_started/getting_started.paux
Doc/getting_started/getting_started.pdf
Doc/getting_started/getting_started/


# pytest artifacts
unittests/**/new/*
unittests/**/*.paux

# mypy cache
.mypy_cache/
