[MASTER]
persistent=no
ignore=tests
extension-pkg-whitelist=lxml

[MESSAGES CONTROL]
disable=
    abstract-method,
    access-member-before-definition,
    arguments-differ,
    assigning-non-slot,
    assignment-from-no-return,
    assignment-from-none,
    attribute-defined-outside-init,
    bad-continuation,
    bad-indentation,
    bad-whitespace,
    bare-except,
    blacklisted-name,
    broad-except,
    chained-comparison,
    comparison-with-itself,
    consider-using-dict-comprehension,
    consider-using-enumerate,
    cyclic-import,
    dangerous-default-value,
    deprecated-method,
    duplicate-key,
    empty-docstring,
    eval-used,
    fixme,
    function-redefined,
    global-statement,
    global-variable-undefined,
    inconsistent-return-statements,
    invalid-name,
    keyword-arg-before-vararg,
    locally-disabled,
    logging-not-lazy,
    line-too-long,
    method-hidden,
    missing-docstring,
    missing-final-newline,
    mixed-indentation,
    multiple-imports,
    multiple-statements,
    no-classmethod-decorator,
    no-else-return,
    no-member,
    no-method-argument,
    no-self-use,
    no-value-for-parameter,
    non-parent-init-called,
    not-an-iterable,
    pointless-statement,
    pointless-string-statement,
    possibly-unused-variable,
    protected-access,
    redefined-argument-from-local,
    redefined-builtin,
    redefine-in-handler,
    redefined-outer-name,
    reimported,
    simplifiable-if-statement,
    unexpected-keyword-arg,
    unreachable,
    self-cls-assignment,
    singleton-comparison,
    super-init-not-called,
    superfluous-parens,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-boolean-expressions,
    too-many-branches,
    too-many-instance-attributes,
    too-many-function-args,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-return-statements,
    too-many-statements,
    try-except-raise,
    trailing-newlines,
    trailing-whitespace,
    undefined-loop-variable,
    undefined-variable,
    ungrouped-imports,
    unidiomatic-typecheck,
    unnecessary-pass,
    unnecessary-semicolon,
    unused-argument,
    unused-import,
    unused-variable,
    unsubscriptable-object,
    unsupported-assignment-operation,
    unsupported-membership-test,
    useless-else-on-loop,
    useless-object-inheritance,
    useless-return,
    useless-super-delegation,
    unused-wildcard-import,
    wildcard-import,
    wrong-import-order,
    wrong-import-position,

[REPORTS]
reports=no

[SIMILARITIES]
min-similarity-lines=999

