language: python

python:
  - "3.6"
  - "3.7"

install:
  - pip install -r requirements.txt
  - pip install -r requirements_tests.txt
  - pip install .

script: 
  - tox

after_success:
  - coveralls
