{%- set links = obj.links -%}
{%- set toc = obj.ownerDocument[-2].tableofcontents -%}
{% macro tocEntry(section) -%}
<span class="toc_ref">{{ section.ref.textContent }}</span>
<span class="toc_entry">{{ section.tocEntry.textContent }}</span>
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  "HTML-CSS": { linebreaks: { automatic: true } },
         SVG: { linebreaks: { automatic: true } }
});
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "AMS"} } });
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<meta name="generator" content="plasTeX" />
<meta charset="{{ config.files['output-encoding']}}" />
{% if obj.level > -10 %}
<title>{{ links.document.title }}: {{ obj.title }}</title>
{% else %}
<title>{{ obj.title }}</title>
{% endif %}
{% if links.next %}
<link rel="next" href="{{ links.next.url }}" title="{{ links.next.title.textContent }}" />
{% endif %}
{% if links.prev %}
<link rel="prev" href="{{ links.prev.url }}" title="{{ links.prev.title.textContent }}" />
{% endif %}
{% if links.up %}
<link rel="up" href="{{ links.up.url }}" title="{{ links.up.title.textContent }}" />
{% endif %}
<link rel="stylesheet" href="styles/styles.css" />
</head>
<body>

{% block navbar %}
<nav class="prev_up_next">
  {% if links.prev %}
  <a href="{{ links.prev.url }}" title="{{ links.prev.title }}">Prev</a>
  {% endif %}
  {% if links.up %}
  <a href="{{ links.up.url }}" title="{{ links.up.title }}">Up</a>
  {% endif %}
  {% if links.next %}
  <a href="{{ links.next.url }}" title="{{ links.next.title }}">Next</a>
  {% endif %}
  <span class="navtitle"> {{ links.document.title }}</span>
  {% if links.index %}
    <a href="{{ links.index.url }}" class="index">Index</a>
  {% endif %}
</nav>
{% endblock %}

{% if obj.level >= -10 %}
<ul class="breadcrumbs">
{% for crumb in links.breadcrumbs %}
{% if loop.last %}
<li class="last_crumb">{{ crumb.title }}</li>
{% else %}
<li class="crumb"><a href="{{ crumb.url }}" class="crumb">{{ crumb.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% endif %}


{% if toc %}
<nav class="toc">
<ul>
{% for section in toc %}
<li><a href="{{ section.url }}">{{ tocEntry(section) }}</a>
  {% if section.tableofcontents %}
   <ul class="section_toc">
   {% for subsection in section.tableofcontents %}
     <li><a href="{{ subsection.url }}">{{ tocEntry(subsection)}}</a>
       {% if subsection.tableofcontents %}
       <ul class="subsection_toc">
       {% for subsubsection in subsection.tableofcontents %}
         <li><a href="{{ subsubsection.url }}">{{ tocEntry(subsubsection) }}</a>
           {% if subsubsection.tableofcontents %}
           <ul class="subsubsection_toc">
           {% for paragraph in subsubsection.tableofcontents %}
             <li><a href="{{ paragraph.url }}">{{ tocEntry(paragraph) }}</a>
               {% if paragraph.tableofcontents %}
               <ul class="paragraph_toc">
               {% for subparagraph in paragraph.tableofcontents %}
                 <li><a href="{{ subparagraph.url }}">{{ tocEntry(subparagraph) }}</a></li>
               {% endfor %}
               </ul>
               {% endif %}
             </li>
           {% endfor %}
           </ul>
           {% endif %}
         </li>
      {% endfor %}
      </ul>
      {% endif %}
		</li>
 {% endfor %}
 </ul>
 {% endif %}
 </li>
 {% endfor %}
</ul>
</nav>
{% endif %}

<div class="content">{{ obj }}</div>

{% if obj.footnotes %}
<section id="footnotes">
<h1>Footnotes</h1>
<ol>
{% for footnote in obj.footnotes %}
  <li id="{{ footnote.id }}">{{ footnote }}</li>
{% endfor %}
</ol>
</section>
{% endif %}

{{ self.navbar() }}

</body>
</html>
