{%- set links = obj.links -%}
<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  "HTML-CSS": { linebreaks: { automatic: true } },
         SVG: { linebreaks: { automatic: true } }
});
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "AMS"} } });
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<meta name="generator" content="plasTeX" />
<meta charset="{{ config.files['output-encoding']}}" />
{% if obj.level > -10 %}
<title>{{ links.document.title }}: {{ obj.title }}</title>
{% else %}
<title>{{ obj.title }}</title>
{% endif %}
{% if links.next %}
<link rel="next" href="{{ links.next.url }}" title="{{ links.next.title.textContent }}" />
{% endif %}
{% if links.prev %}
<link rel="prev" href="{{ links.prev.url }}" title="{{ links.prev.title.textContent }}" />
{% endif %}
{% if links.up %}
<link rel="up" href="{{ links.up.url }}" title="{{ links.up.title.textContent }}" />
{% endif %}
<link rel="stylesheet" href="styles/styles.css" />
</head>
<body>

{% block navbar %}
<nav>
  {% if links.prev %}
  <a href="{{ links.prev.url }}" title="{{ links.prev.title }}">
    <img src="icons/previous.gif" width="32" height="32" />
  </a>
  {% endif %}
  {% if links.up %}
  <a href="{{ links.up.url }}" title="{{ links.up.title }}">
    <img src="icons/up.gif" width="32" height="32" />
  </a>
  {% endif %}
  {% if links.next %}
  <a href="{{ links.next.url }}" title="{{ links.next.title }}">
    <img src="icons/next.gif" width="32" height="32" />
  </a>
  {% endif %}
  <span class="navtitle"> {{ links.document.title }}</span>
  {% if links.contents %}
    <a href="{{ links.contents.url }}" title="Table of Contents"><img border="0" alt="" src="icons/contents.gif" width="32" height="32" /></a>
  {% endif %}
  {% if links.index %}
    <a href="{{ links.index.url }}" title="Index"><img border="0" alt="" src="icons/index.gif" width="32" height="32" /></a>
  {% endif %}
</nav>
{% endblock %}

{% if obj.level >= -10 %}
<div class="breadcrumbs">
{% for crumb in links.breadcrumbs %}
{% if loop.last %}
<span class="last_crumb">{{ crumb.title }}</span>
{% else %}
<a href="{{ crumb.url }}" class="crumb">{{ crumb.title }}</a> 
{% endif %}
{% endfor %}
</div>
{% endif %}

<div class="content">{{ obj }}</div>

{% if obj.tableofcontents %}
<div class="{{ obj.nodeName }}-contents">
<ul class="toc">
{% for section in obj.tableofcontents %}
<li><a href="{{ section.url }}">{{ section.fullTocEntry }}</a>
  {% if section.tableofcontents %}
   <ul class="section_toc">
   {% for subsection in section.tableofcontents %}
     <li><a href="{{ subsection.url }}">{{ subsection.fullTocEntry}}</a>
       {% if subsection.tableofcontents %}
       <ul class="subsection_toc">
       {% for subsubsection in subsection.tableofcontents %}
         <li><a href="{{ subsubsection.url }}">{{ subsubsection.fullTocEntry }}</a>
           {% if subsubsection.tableofcontents %}
           <ul class="subsubsection_toc">
           {% for paragraph in subsubsection.tableofcontents %}
             <li><a href="{{ paragraph.url }}">{{ paragraph.fullTocEntry }}</a>
               {% if paragraph.tableofcontents %}
               <ul class="paragraph_toc">
               {% for subparagraph in paragraph.tableofcontents %}
                 <li><a href="{{ subparagraph.url }}">{{ subparagraph.fullTocEntry }}</a></li>
               {% endfor %}
               </ul>
               {% endif %}
             </li>
           {% endfor %}
           </ul>
           {% endif %}
         </li>
      {% endfor %}
      </ul>
      {% endif %}
		</li>
 {% endfor %}
 </ul>
 {% endif %}
 </li>
 {% endfor %}
</ul>
</div>
{% endif %}

{% if obj.footnotes %}
<div id="footnotes">
<p><span class="footnotes">Footnotes</span></p>
<ol class="footnotes">
{% for footnote in obj.footnotes %}
  <li id="{{ footnote.id }}">{{ footnote }}</li>
{% endfor %}
</ol>
</div>
{% endif %}

{{ self.navbar() }}
<script language="javascript" src="icons/imgadjust.js" type="text/javascript"></script>

</body>
</html>
