// Breadcrumbs

ul.breadcrumbs
{
    margin: 1rem 0;
    margin-top: $doc-title-height + 1rem;
    padding: 0;
    padding-left: .5rem;

    list-style: none;

	@media (min-width: $toc-break)
    {
        margin-top: 1rem;
        margin-left: $toc-width;
    };
}

ul.breadcrumbs li
{
    display: block;
    float: left;
}

ul.breadcrumbs a
{
    text-decoration: none;

    color: darken($prevupnext-nav-color, 10%);
}


li.crumb::after
{
    content: ' / ';
}
