// Header

body>header {
  background: $doc-title-background;
  color: $doc-title-color;
  text-shadow: $header-text-shadow;
  display: flex;
  align-items: center;
  padding: .5rem;
}

svg#toc-toggle {
  width: .75*$doc-title-font-size;
  height: .75*$doc-title-font-size;
  margin-right: .5rem;
}

h1#doc_title {
  color: $doc-title-color;
  font-size: $doc-title-font-size;
  margin: auto;
}

#doc_title a, #doc_title a:visited {
  text-decoration: none;
  color: $doc-title-color;
}
