// Navigation Prev/Up/Next

nav.prev_up_next
{
    position: fixed;
    z-index: $pun-z-index;
    right: 0;
    bottom: 0;

    display: flex;

    height: $pun-height;

    background: $pun-background;
    a
    {
        font-size: 150%;

        margin: auto;
        padding: .2*$pun-height .4*$pun-height;

        text-decoration: none;

        color: $pun-color;
        text-shadow: $pun-shadow;
    }
    svg#toc-toggle
    {
        font-size: 150%;

        margin: auto;
	min-width: 2rem;

        text-decoration: none;

        color: $pun-color;
        text-shadow: $pun-shadow;
    }
}
