p.hidden {
	display: none;
}

div.showmore
{
    position: fixed;
    z-index: $pun-z-index;
    left: 0;
    bottom: 0;

    display: flex;

    height: $pun-height;

    background: linear-gradient(to bottom,
    lighten($prevupnext-nav-color, 10%) 0%,
    darken($prevupnext-nav-color, 10%) 100%);
    svg
    {
        font-size: 150%;

        margin: auto;
				min-width: 2rem;

        text-decoration: none;

        color: white;
        text-shadow: 1px 2px 0 rgba(0,0,0,.8);
    }
	}

div.showmore-toc {
    @media (min-width: $toc-break)
    {
				left: $toc-width;
    };
}
