$toc-break: 1024px;

$titles-color: rgb(36, 41, 46);

$background-color: white;
$gray-bg-color: darken($background-color, 5%);
$main-text-color: rgb(36, 41, 46);

$doc-title-height: 2.5rem;
$doc-title-font-size: 1.5rem;
$doc-title-color: $titles-color;
$doc-title-background: $gray-bg-color;

$pun-height: 2.5rem;
$pun-color: $titles-color;
$pun-bg: rgb(250, 251, 252);
$pun-shadow: none;
$pun-background: $gray-bg-color;

$toc-width: 30rem;
$toc-background-color: white;
$toc-text-color: lighten($doc-title-color, 15%);
$toc-text-shadow: none;
$header-text-shadow: none;

$toc-padding: .8rem;
$toc-font-size: 1.2rem;
$toc-current-bg-color: $toc-background-color;
$toc-current-font-weight: bold;
$toc-border-right: solid 1px $gray-bg-color;


$breadcrumbs-color: lighten($titles-color, 10%);

$content-line-height: 1.4rem;

$smallskipamount: 1rem;

// z-index
$pun-z-index: 200;
$toc-z-index: 300;
$header-z-index: 400;
$modal-z-index: 500;
