$toc-break: 1024px;

$titles-color: rgb(0, 0, 0);

$background-color: white;
$main-text-color: black;

$prevupnext-nav-color: #669933;
$pun-height: 2.5rem;

$toc-width: 30rem;
$toc-background-color: lighten($prevupnext-nav-color, 10%);
$toc-text-color: white;
$toc-text-shadow: 2px 2px 2px rgba(0,0,0,.8);
$toc-padding: .8rem;
$toc-font-size: 1.2rem;

$doc-title-height: 2.5rem;
$doc-title-font-size: 1.5rem;
$doc-title-color: #ffffcc;
$doc-title-bgcolor: $prevupnext-nav-color;
$doc-title-background: linear-gradient(to bottom,
                              lighten($doc-title-bgcolor, 10%) 0%,
                              darken($doc-title-bgcolor, 10%) 100%);


$content-line-height: 1.4rem;

// z-index
$pun-z-index: 200;
$toc-z-index: 300;
$header-z-index: 400;
$modal-z-index: 500;
