@import 'reset';

@import 'typography';
@import 'variables';

@import 'toc';
@import 'nav_pun';
@import 'header';
@import 'breadcrumbs';
@import 'footnotes';
@import 'equations';
@import 'theorems';

body
{
    margin: 0;

    color: $main-text-color;
    background-color: $background-color;
}


// Main content

div.content
{
    line-height: $content-line-height;

    position: absolute;
    top: $breadcrumbs-height + $doc-title-height;
    left: 0;

    padding: 1rem;
    padding-bottom: $pun-height;

	@media (min-width: $toc-break)
    {
        top: max($breadcrumbs-height, $doc-title-height);
        left: $toc-width;

        margin: 0 5%;
    }
}

div.content > p
{
    clear: both;

    margin: 1.5*$content-line-height 0;
}

li > p
{
    margin: .2*$content-line-height 0;
}

// Icons
.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
