// Table of contents

.local_toc ul {
  list-style:none;
  padding-left: 1rem;

  a {
    text-decoration: none;
  };

  li {
  	padding: .2rem 0;
  }
}


nav.toc {
  display:flex;
  flex-direction: column;
  margin: 0;
  margin-top: .2rem;
  padding: 0;
  width: 100%;
  left: -100%;
  z-index: $toc-z-index;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: $doc-title-height;
  top: 0;
  bottom: 0;
  @include breakpoint($toc-break) {
    left: 0;
    width: $toc-width;
  };
  position: fixed;
  min-height: 100%;
  background-color: $toc-background-color;
  transition: left .5s ease;
}

nav.active {
  left: 0;
}

.toc ul {
  list-style:none;
  padding-left: 0;
  min-width: 100%;

  a {
    flex-grow: 1;
    max-width: 90%;
    font-size: $toc-font-size;
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .5rem;
    color: $toc-text-color;
    text-shadow: $toc-text-shadow;
    text-align: left;
    text-decoration: none;
    transition: all 0.1s ease;
    &:hover {
      background: darken($toc-background-color, 10%);
      transition: all 0.2s ease;
    };
  };

  li {
    min-width:100%;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li.active {
    background-color: lighten($toc-background-color,10%);
  }
}

@for $i from 0 through 4 {
  .sub-toc-#{$i} a {
    padding-left: ($i+1)*$toc-padding;
  }
}

@for $i from 1 through 4 {
  ul.sub-toc-#{$i} {
    display:none;
  }
}

svg.expand-toc {
  min-width: 10%;
  color: $toc-text-color;
  background-color: Transparent;
  padding: 0;
  cursor: pointer;
  text-align:center;
}

ul.active {
  display: block;
}


