$toc-break: 768px;

$titles-color: rgb(15,47,72);

$background-color: rgb(232, 232, 232);
$main-text-color:  rgb(10, 10, 20);

$prevupnext-nav-color: rgb(73, 125, 165);

$toc-width: 300px;
$toc-background-color: lighten($prevupnext-nav-color, 10%);
$toc-padding: .5rem;

$doc-title-height: 2.5rem;
$doc-title-font-size: 2rem;
$doc-title-color: white;
$doc-title-bgcolor: rgb(73, 125, 165);
$doc-title-background: linear-gradient(to bottom, 
                              lighten($doc-title-bgcolor, 10%) 0%, 
                              darken($doc-title-bgcolor, 10%) 100%);



$breadcrumbs-height: $doc-title-height;
