$toc-break: 700px;

$titles-color: rgb(15,47,72);

$background-color: rgb(232, 232, 232);
$main-text-color:  rgb(10, 10, 20);

$top-nav-color: rgb(73, 125, 165);
$toc-background-color: lighten($top-nav-color, 10%);
$toc-padding: .5em;


