@import "breakpoint";
@import "reset";

@import "typography";
@import "variables";


body {
  background-color: $background-color;
  color: $main-text-color;
  margin: 0;
}

// Navigation Prev/Up/Next

nav.prev_up_next {
  position: fixed;
  bottom:0;
  right:0;
  background: linear-gradient(to bottom, 
                              lighten($prevupnext-nav-color, 10%) 0%, 
                              darken($prevupnext-nav-color, 10%) 100%);
  height: 2rem;
  ul {
	padding: .2em 0;
    list-style:none;
  }
  li {
    display: inline;
  }
  a {
    text-shadow: 1px 2px 0px rgba(0,0,0,0.8);
	padding: .3rem;
    color: white;
    text-decoration: none;
  }
}

// Header

header {
  z-index: 100;
  background: $doc-title-background;
  display: flex;
  position: fixed;
  width: 100%;
  height: $doc-title-height;
  margin: 0 auto;
  text-align:center;
  vertical-align: middle;
  top:0;
  left:0;
  @include breakpoint($toc-break) {
    width: $toc-width;
  }
}

button#toc-toggle {
  font-size: .75*$doc-title-font-size;
  display: inline;
  background-color: Transparent;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  @include breakpoint($toc-break) {
	display: none;
  }
}

h1#doc_title {
  margin: auto;
  color: $doc-title-color;
  text-shadow: 1px 2px 0px rgba(0,0,0,0.8);
  font-size: $doc-title-font-size;
}


// Breadcrumbs

ul.breadcrumbs {
  @include breakpoint($toc-break) {
    margin-left: $toc-width;
  };
  list-style:none;
  padding: 0;
  padding-left: .5rem;
  margin: 1rem 0;
  margin-top: $doc-title-height + 1rem;
  @include breakpoint($toc-break) {
    margin-left: $toc-width;
    margin-top: 1rem;
  };
}

ul.breadcrumbs li {
  display: block;
  float: left;
}

ul.breadcrumbs a {
  text-decoration: none;
  color: darken($prevupnext-nav-color, 10%)
}


li.crumb::after {
  content: " / ";
}

// Table of contents

nav.toc {
  margin: 0;
  padding: 0;
  width: $toc-width;
  left: -$toc-width;
  z-index: 50;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: $doc-title-height;
  top: 0;
  bottom: 0;
  @include breakpoint($toc-break) {
    left: 0;
  };
  position: fixed;
  min-height: 100%;
  background-color: $toc-background-color;
  transition: left .5s ease;
}

nav.active {
  left: 0;
}

.toc ul {
  list-style:none;
  padding-left: 0;

  a {
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    text-align: left;
    text-decoration: none;
    transition: all 0.1s ease;
    &:hover {
      background: darken($toc-background-color, 10%);
      transition: all 0.2s ease;
    };
  };

  li {
    box-shadow: inset 0px 1px 3px darken($toc-background-color, 5%);
  }
}

.toc a {
  padding-left: $toc-padding;
}

.section_toc a {
  padding-left: 2*$toc-padding;
}

.subsection_toc a {
  padding-left: 3*$toc-padding;
}

// Main content

div.content {
  position: absolute;
  left: 0;
  top: $breadcrumbs-height + 1.5*$doc-title-height;
  padding-left: 1rem;
  @include breakpoint($toc-break) {
    left: $toc-width;
		top: max(1.5*$breadcrumbs-height, 1.5*$doc-title-height);
  }
}

.content p {
  margin: 1rem 0;
  clear: both;
}

// Footnotes

section#footnotes {
  padding-left: 1rem;
  padding-top: 1rem;
  clear: both;
}

// Maths

div.equation {
  margin: 1rem 1rem;
  display: flex;

  span.equation_label {
    float: left;
    margin-right: auto 1rem;
  }
  span.equation_label::before {
      content: "(";
  };
  span.equation_label::after {
      content: ")";
  };
  div.equation_content {
    float: left;
    margin-left: 3rem;
  }
}

// Theorems

div[class$="_thmheading"] {
	font-weight: bold;
}

div[class$="_thmcontent"] {
  font-weight: normal;
	margin-left: 1rem;
	padding-left: 1rem;
	padding-top: .5rem;
}

// Relations

div[class$="_thmheading"]:hover button.uses {
  display: inline;
}

div.thm_uses {
  display: none;
  font-weight: normal;
  a {
    text-decoration: none;
  };
  ul {
    list-style:none;
    padding: .2rem;
    border: 1px solid black;
    border-radius: 3px;
  };
  ul::before {
    content: "Uses:";
  }
  li {
    padding-left: .5rem;
  }
}

button.uses {
  font-size: .75*$doc-title-font-size;
  display: none;
  background-color: Transparent;
  border: none;
}

// Footnotes

section#footnotes {
  border-top: 1px solid;
  border-color: gray;
}
section#footnotes h1 {
    font-size:1.5rem;
    color:black;
    margin:0;
    margin-bottom: .5rem;
}

a.footnote {
  text-decoration: none;
}

a.footnote sup::after {
  content: "]";
}

a.footnote sup::before {
  content: "[";
}
