@import "breakpoint";
@import "reset";

@import "typography";
@import "variables";

@import "toc";
@import "nav_pun";
@import "header";
@import "breadcrumbs";
@import "footnotes";
@import "equations";
@import "theorems";

body {
  background-color: $background-color;
  color: $main-text-color;
  margin: 0;
}


// Main content

div.content {
  position: absolute;
  left: 0;
  top: $breadcrumbs-height + $doc-title-height;
  padding-left: 1rem;
	padding-bottom: $pun-height;
  @include breakpoint($toc-break) {
    left: $toc-width;
		top: max($breadcrumbs-height, $doc-title-height);
		margin: 0 5%;
  }
}

.content p {
  margin: 1rem 0;
  clear: both;
}
